<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Добавить сценарий</title>
</head>
<body>
	<div class="container">
		<form action="#">
			<div class="gameName">
				<p>Название игры</p>
				<input type="text" name="gameName">				
			</div>
			<div class="gameLabel">	
				<p>Название метки</p>
				<input type="text" name="gameLabel">
			</div>
			<div class="gameCommands">
				<p>Список комманд</p>
				<input type="text" name="gameCommnds">
			</div>
		</form>
	</div>
</body>
</html>