<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
>

<head>
<title>Add new Game</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<h2 th:text="${notification}"></h2>
	<div class="container">
		<form action="/games/addGame" method="POST">
			<div class="name">
				<p>Short name, 1 word</p>
				<input type="text" name="name">
			</div>
			<div class="originalName">
				<p>Full name</p>
				<input type="text" name="originalName">
			</div>
			<div class="description">
				<p>Description</p>
				<textarea type="text" name="description"></textarea>
			</div>
			<button type="submit">Send</button>
		</form>
	</div>

	<section id="games">
		<h4>Games</h4>
		<div class="gamesItem" th:each="game:${games}">
			<div class="infoLeft">
				<img src="StartPage.jpg" class="itemImage"> 
				<a class="itemPlay" th:href="@{/runGame(gameName=${game.name},labelName='default')}">Play</a>
				<a class="itemRemove" th:href="@{/games/deleteGame(gameId=${game.id})}" >Delete</a>
			</div>
			<div class="infoRight">
				<p class="itemName" th:text="${game.originalName}">Name</p>
				<p class="itemDesc" th:text="${game.description}">Description</p>
			</div>
		</div>
	</section>
</body>
</html>