<!DOCTYPE html>
<html>

<head>
    <title>NovelasGame</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="container">
        <h2>NovelasGame</h2>

        <h3 class="group">Тестим все, что видим..</h3>
        <div class="row">
             <div class="item one-third column">
                <a href="#" class="item_name">Минимальный тест диалогов</a>
                <p class="item_description">Вывод и смена диалогов</p>
            </div>
            <div class="item one-third column">
                <a href="#" class="item_name">Тест смены фонов, цг</a>
                <p class="item_description">По клике менять фоны, цг</p>
            </div>
            <div class="item one-third column">
                <a href="#" class="item_name">Тест смены дня и ночи</a>
                <p class="item_description">Смена дня и ночи текущего фона</p>
            </div>
            <div class="item one-third column">
                <a href="/TestChar" class="item_name">Тест вывода персонажей на экран</a>
                <p class="item_description">Показать разных персонажей в разной форме и с различными эмоциями</p>
            </div>
            <div class="item one-third column">
                <a href="#" class="item_name">Тест расположения спрайтов</a>
                <p class="item_description">Показывать персонажей вблизи, вдали, позади, с боку, за кем-то</p>
            </div>

            <div class="item one-third column">
                <a href="#" class="item_name">Тест имён и диалогов</a>
                <p class="item_description">Небольшая сценка, демонстрирующая работу команд, связанных с именами персонажей, таких как отобразить различные имена, никого не знать, одна строка на 2 клика "W"</p>
            </div>

            
            <div class="item one-third column">
                <a href="#" class="item_name">Тест анимационных эффектов</a>
                <p class="item_description">Плавное появление, затухание как фонов, так и персонажей, белый и темный цвет при смене кадров</p>
            </div>
            <div class="item one-third column">
                <a href="#" class="item_name">Тест тегов</a>
                <p class="item_description">Меняем метки и смотрим другую верту развития</p>
            </div>
            <div class="item one-third column">
                <a href="#" class="item_name">Тест меню выбора</a>
                <p class="item_description">Просмотр работоспособности меню выбора</p>
            </div>
            <div class="item one-third column">
                <a href="#" class="item_name">Тест загрузки и сохранения</a>
                <p class="item_description">Меняем ветки и смотрим, произошла ли смена</p>
            </div>
        </div>


       
    </div>
</body>

</html>