<!DOCTYPE html>
<html>

<head>
<title>NovelasGame</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<div class="container">
		<h2>NovelasGame</h2>

		<h3 class="group">Тестим все, что видим..</h3>
		<div class="row">
			<div class="item one-third column">
				<a href="/games" class="item_name">Добавить игру"</a>
				<p class="item_description">Переход на страницу добавления игры,
					ее описания и тд.</p>
			</div>
			<div class="item one-third column">
				<a href="/addScenario" class="item_name">Добавить сценарий</a>
				<p class="item_description">Переход на страницу добавления
					сценария к существующей игре</p>
			</div>
			<div class="item one-third column">
				<a href="/runGame?gameName=summer&labelName=default"
					class="item_name">Запустить игру summer</a>
				<p class="item_description">Запуск игры с именем "summer" и
					меткой "default"</p>
			</div>

			<div class="item one-third column">
				<a href="/resources" class="item_name">Открыть окно ресурсов</a>
				<p class="item_description">Открыть окно, которое позволяе
					добавлять/удалять такие ресурсы как спрайты, фоны</p>
			</div>
			<div class="item one-third column">
				<a href="/runGame?gameName=default&labelName=menu" class="item_name">Тест
					меню выбора</a>
				<p class="item_description">Запуск игры с именем "default" и
					меткой "menu"</p>
			</div>
			<div class="item one-third column">
				<a href="/logout" class="item_name">LogOut</a>
				<p class="item_description">Выйти</p>
			</div>



			<!-- пока не реализовано -->
			<div class="item one-third column">
				<a href="sound" class="item_name">Минимальный тест запуска
					звуков</a>
				<p class="item_description">Передаем некоторые звуки в модель,
					они воспроизводятся по кнопке</p>
			</div>
			<div class="item one-third column">
				<a href="#" class="item_name">Тест смены дня и ночи</a>
				<p class="item_description">Смена дня и ночи текущего фона</p>
			</div>
			<div class="item one-third column">
				<a href="#" class="item_name">Тест анимационных эффектов</a>
				<p class="item_description">Плавное появление, затухание как
					фонов, так и персонажей, белый и темный цвет при смене кадров</p>
			</div>
			<div class="item one-third column">
				<a href="#" class="item_name">Тест тегов</a>
				<p class="item_description">Меняем метки и смотрим другую верту
					развития</p>
			</div>
			<div class="item one-third column">
				<a href="#" class="item_name">Тест загрузки и сохранения</a>
				<p class="item_description">Меняем ветки и смотрим, произошла ли
					смена</p>
			</div>
		</div>



	</div>
</body>

</html>