<!DOCTYPE html>
<html>

<head>
    <title>Play Scene</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/run.css">
</head>

<body>
    <div id="background">
        <div id="background1" style="background: url('http://rpy.annimon.com/resources/es/bg/ext_dining_hall_away_day.jpg')"></div>
        <div id="background2" style="display: block; background: url('http://rpy.annimon.com/resources/es/bg/ext_dining_hall_near_day.jpg')"></div>
        <div id="container">
            <img class="sprite"  src="http://rpy.annimon.com/resources/es/sprites/mt/normalpioneer.png">
            <img class="sprite"  src="http://rpy.annimon.com/resources/es/sprites/el/normalpioneer.png">
        </div>
        <div id="window" >
            <div id="textAuthor" >Gigigi</div>
            <div id="textContent">Исчезновение пионеров – это что-то новенькое. ~</div>
        </div>
        <div id="mainMenuButton"></div>
        <div id="menu" >
            <p id="menuTitle"></p>
            <ul id="menuChoose">
            </ul>
        </div>
        </div>
</body>

</html>