<!DOCTYPE html>
<html>

<head>
    <title>Play Scene</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/run.css">
</head>

<body>
    <<div id="background">
        <div id="background1" style="background: url('http://rpy.annimon.com/resources/es/bg/ext_dining_hall_away_day.jpg') 50% 50% / cover no-repeat fixed padding-box border-box rgba(0, 0, 0, 0); display: none;"></div>
        <div id="background2" style="display: block; background: url('http://rpy.annimon.com/resources/es/bg/ext_dining_hall_near_day.jpg') center center / cover no-repeat fixed;"></div>
        <div id="container">
            <img class="sprite" style="height: 421px; left: auto; right: 565px;" src="http://rpy.annimon.com/resources/es/sprites/mt/normalpioneer.png">
            <img class="sprite" style="height: 421px; right: auto; left: 565px;" src="http://rpy.annimon.com/resources/es/sprites/el/normalpioneer.png">
        </div>
        <div id="window" style="visibility: visible;">
            <div id="textAuthor" style="color: rgb(0, 234, 50);">Gigigi</div>
            <div id="textContent" style="text-align: left;">~ Исчезновение пионеров – это что-то новенькое. ~</div>
        </div>
        <div id="mainMenuButton"></div>
        <div id="menu" style="display: none;">
            <p id="menuTitle"></p>
            <ul id="menuChoose">
            </ul>
        </div>
        </div>
</body>

</html>