<!DOCTYPE html>
<html>

<head>
<title>Play Scene</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--     <link rel="stylesheet" type="text/css" href="/css/run.css"> -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/cmdAudio.js"></script>
<script src="/js/cmdDialog.js"></script>
<script src="/js/cmdJump.js"></script>
<script src="/js/cmdMenu.js"></script>
<script src="/js/cmdScene.js"></script>
<script src="/js/cmdSprite.js"></script>
<script src="/js/cmdVariable.js"></script>
<script src="/js/cmdWindow.js"></script>
<link rel="stylesheet" type="text/css" href="/css/main.css">

</head>

<body>
	<button class="next" onclick="next()">NEXT</button>
	<div class="game" >
		<div class="background1"></div>
		<div class="background2"></div>
		<div class="sprites">
			<!--             <img class="sprite"  src=""> -->
		</div>
		<div class="window">
			<div class="textAuthor"></div>
			<div class="textContent"></div>
		</div>
		<div class="menu">
			<p class="menuTitle"></p>
			<ul class="menuChoose">
			<li>Остаться в общаге</li>
			<li>Пойти в универ</li>
			</ul>
		</div>
		<audio class="audio" id="myAudio" src="" controls="controls"></audio>
	</div>

	<script>
		// получили json-строку с сервера и преобразовали в нормальный json 
		var data = "[[${scenario}]]";
		data = data.replace(/(&quot\;)/g, "\"");
// 		console.log(data);
		var arr = JSON.parse(data);
	</script>
</body>
</html>