<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TestCharShow</title>
</head>
<body>
	<div class="img">
		<img src="http://localhost:8080/images/char.png?type=char&body=dv_1_body&name=dv&emotion=dv_1_scared&dress=dv_1_pioneer&position=right&location=normal&behind=null&thing=null" alt="">
	</div>
	<div class="backg" style="width: 300px;height: 300px;background-image: url(http://localhost:8080/images/char.png?type=char&body=dv_1_body&name=dv&emotion=dv_1_scared&dress=dv_1_pioneer&position=right&location=normal&behind=null&thing=null);"></div>
</body>
</html>