<!DOCTYPE html>
<html>

<head>
    <title>Play Scene</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--     <link rel="stylesheet" type="text/css" href="/css/run.css"> -->
<script  src="https://code.jquery.com/jquery-3.4.1.min.js"  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
<link rel="stylesheet" type="text/css" href="/css/main.css">

</head>

<body>
<button class="next" onclick="next()">NEXT</button>
    <div class="game">
        <div class="background1" ></div>
<!--         style="background: none 0% 0% / cover repeat scroll padding-box border-box rgb(0, 0, 0); display: none;" -->
        <div class="background2" ></div>
<!--         style="background: url("") center center / cover no-repeat fixed;" -->
        <div class="sprites">
            <img class="sprite"  src="">
        </div>
        <div class="window" >
            <div class="textAuthor" ></div>
            <div class="textContent"></div>
        </div>
        <div class="menu" >
            <p class="menuTitle"></p>
            <ul class="menuChoose">
            </ul>
        </div>
   </div>
        
<script>
// // получили json-строку с сервера и преобразовали в нормальный json 
	var data = "[[${scenario}]]";
	data=data.replace(/(&quot\;)/g, "\"");
	var arr = JSON.parse(data);
	
</script>
</body>
</html>