html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html, body, div, span, p, li, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

#background, #background1, #background2 {
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#window {
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-height: 20%;
    background-color: rgba(0, 0, 0, 0.5);
}

#textAuthor {
    margin: 5px 0 10px 20px;
    color: white;
}

#textContent {
    color: #DEC88C;
    margin: 0 10px;
}

.sprite {
    position: absolute;
    bottom: 0px;
}

#menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
}
#menuTitle {
    font-size: 120%;
    margin: 16px 0;
}
#menuChoose {
    list-style: none;
    width: 70%;
    margin: 0 auto;
    color: #eee;
}
#menuChoose li {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    margin: 5px 10px;
}
#menuChoose li:hover {
    background-color: rgba(200, 200, 200, 0.5);
    cursor: pointer;
    color: #fff;
}
